.backTop{
    display: block;
    width: 38px;
    height: 38px;
    background-color: #ddd;
    border-radius: 3px;
    border: 0;
    cursor: pointer;
    position: fixed;
	right:600px;
	bottom:110px;
}

.arrow{
    width: 0;
    height: 0;
    top: -1px;
    border: 9px solid transparent;
    border-bottom-color: #aaa;
}

.stick {
    width: 8px;
    height: 14px;
    top: 15px;
    border-radius: 1px;
    background-color: #aaa;
}

.arrow, .stick {
    position: absolute;
    right: 0;
    left: 0;
    margin: auto;
}

