html, body, div, h1, h2, h3, h4, h5, h6, ul, ol, dl, li, dt, dd, p, blockquote, pre, form, fieldset, table, th, td, map {
    margin: 0;
    padding: 0;
}

ul, ol, dl, li {
    list-style: none;
}

a:link {
    color: #555;
	text-decoration: none;
}

a:visited {
    color: #555;
	text-decoration: none;
}

a:hover {
    color: #044E97;
	text-decoration: underline;
}

a:active {
	color: #044E97;
	text-decoration: underline;
}

html {
    overflow-y: scroll;
    background-color: #fff;
}	

body, button, input, select, textarea {
    font: 12px/1.5 tahoma,arial,'Hiragino Sans GB',\5b8b\4f53,sans-serif;
	line-height: 1.7;
}

body {
	color: #222;
}

.tips{
    color: red;
}

textarea, input, select{
	background:#fff; 
	border: 1px solid #A2A3A7;
    padding:5px;
    border-radius:5px;
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
}

.hidden{
	display:none;
}

.show{
	display:block;
}