.header {
	height: 36px;
}

.header_item {
	margin-left: auto;
    margin-right: auto;
}

.header_item ul li {
    float: left;
	height: 36px;
	position: relative;
	z-index: 500;
	display: block;
	border-left: 1px solid #ccc;
	height: 18px;
	line-height: 18px;
	margin-top: 10px;
	padding-left: 15px;
	padding-right: 15px;
}

.nav_bar_item a{
	text-decoration: none;
}

.header_right {
    float: right;
}

.user_photo{
	width:20px;
	height:20px;
}