.pre_edit {
    min-height: 460px;
	width: 1190px;
	margin-left: auto;
	margin-right: auto;
}

.must_input{
    color: red;
}

.pre_edit table tr{
    padding-top: 20px;
	display: block;
}

.left_td{
    width: 100px;
}

.pre_edit table tr td input {
	width: 200px;
}

.pre_edit textarea {
	width: 300px;
	height:200px;
}

.pre_edit select {
	width: 100px;
}
