.items {
    width: 1190px;
	margin-left: auto;
    margin-right: auto;
	background-color: #FFF;
}

.left_item {
    width: 600px;
	min-height: 700px; 
	display: inline-block;
	text-align:left;
}

.right_item {
    width: 320px;
	height: 700px;
	padding: 15px 20px 15px 20px;
	position: absolute;
	margin: 0px 0px 0px 40px;
	display: inline-block;
}

.left_title{
	border-bottom: #E1E1E1 1px solid;
	font-size: 14px;
    color: #666;
    font-weight: 700;
	padding: 10px 10px 10px 20px;
}

.content_item{
	border-bottom: #E1E1E1 1px solid;
    padding: 20px;
}

.content_title {
	margin-bottom:10px;
}

.content_title a{
	font-size:14px;
	font-weight:bold;
	color: #044E97;
}

.content_author{
	margin-bottom:10px;
}

.content_user_photo{
	width:20px;
	height:20px;
}

.content_topic{
	color:#999;
	margin-left:10px;
}

.content_topic a:link {
    color: #999;
	text-decoration: none;
}

.content_topic a:visited {
    color: #999;
	text-decoration: none;
}

.content_topic a:hover {
    color: #044E97;
	text-decoration: underline;
}

.content_topic a:active {
	color: #044E97;
	text-decoration: underline;
}

.content_bottom {
	margin-top:10px;
}

.content_bottom a{
	margin-right:10px;
}

.content_bottom a:link {
    color: #999;
	text-decoration: none;
}

.content_bottom a:visited {
    color: #999;
	text-decoration: none;
}

.content_bottom a:hover {
    color: #044E97;
	text-decoration: underline;
}

.content_bottom a:active {
	color: #044E97;
	text-decoration: underline;
}

#heart {
    position: relative;
    width: 19px;
    height: 18px;
}

#heart:before,
#heart:after {
    position: absolute;
    content: "";
    left: 5px;
    margin-top:6px;
    width: 6px;
    height: 10px;
    background: #999;
    -moz-border-radius: 5px 5px 0 0;
    border-radius: 5px 5px 0 0;
    -webkit-transform: rotate(-45deg);
       -moz-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
         -o-transform: rotate(-45deg);
            transform: rotate(-45deg);
    -webkit-transform-origin: 0 100%;
       -moz-transform-origin: 0 100%;
        -ms-transform-origin: 0 100%;
         -o-transform-origin: 0 100%;
            transform-origin: 0 100%;
}
#heart:after {
    left: 0;
    -webkit-transform: rotate(45deg);
       -moz-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
         -o-transform: rotate(45deg);
            transform: rotate(45deg);
    -webkit-transform-origin: 100% 100%;
       -moz-transform-origin: 100% 100%;
        -ms-transform-origin: 100% 100%;
         -o-transform-origin: 100% 100%;
            transform-origin :100% 100%;
}

.paging{
	width:1190px;
	margin-left: auto;
    margin-right: auto;
}

.paging ul li{
   display: inline-block;
}