.rensheng_items {
    width: 1190px;
	margin-left: auto;
    margin-right: auto;
	background-color: #FFF;
}

.rensheng_left_item {
    width: 850px;
	min-height: 700px; 
	display: inline-block;
	text-align:left;
}

.rensheng_right_item {
    width: 320px;
	height: 700px;
	padding: 15px 40px 15px 40px;

	position: absolute;
	margin: 0px 0px 0px 15px;
	display: inline-block;
}

.rensheng_left_title{
	border-bottom: #E1E1E1 1px solid;
	font-size: 14px;
    color: #666;
    font-weight: 700;
	padding: 10px;
}

.rensheng_content_item{
	border-bottom: #E1E1E1 1px solid;
    padding: 10px;
}

.rensheng_content_title{
	font-size:14px;
	font-weight:bold;
}

.paging{
    text-align: center;
}

.paging ul li{
   display: inline-block;
}