.product_items {
    width: 1190px;
	margin-left: auto;
    margin-right: auto;
	padding-left: 20px;
	background-color: #FFF;
}

.product_item {
    width: 220px;
	height: 360px;
	padding: 5px;
	border: #FFF 1px solid;
	position: relative;
	margin: 5px 0px 5px 5px;
	display: inline-block;
	filter: progid:DXImageTransform.Microsoft.Shadow(color=#909090,direction=120,strength=3);/*ie*/
	-moz-box-shadow: 2px 2px 10px #909090;/*firefox*/
	-webkit-box-shadow: 2px 2px 10px #909090;/*safari或chrome*/
	box-shadow: 2px 2px 10px #909090;/*opera或ie9*/
}

.product_hover {
    border: 1px solid #D31257;
}

.product_img_item img {
    width: 210px;
	height: 220px;
}

.product_trade_item {
    font-family: arial,verdana,sans-serif;
	height: 30px;
	line-height: 30px;
	margin-bottom: 5px;
	white-space: nowrap;
}

.product_price_item{
    color: #D31257;
	font-size: 14px;
}

.product_begin_quantity_item{
    padding-left: 80px;
	color: color:#555;
}

.product_title_item{
    max-height:36px;
	min-height:36px;
	overflow:hidden;
	color: color:#555;
}

.product_company_item{
    height: 30px;
	line-height: 30px;
	color: color:#555;
}

.paging{
    text-align: center;
}

.paging ul li{
   display: inline-block;
}

.zero_result{
    height: 300px;
	line-height: 300px;
	width: 1190px;
	text-align: center;
	text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 40px #2500DE, 0 0 70px #ff00de;
	font-size: 20px;
}